openapi: 3.2.0
info:
  title: Traiana Harmony Trade Processing Give Ups API
  description: The Traiana Harmony Trade Processing API provides cross-asset post-trade processing capabilities through the Harmony network. It enables automated trade allocation, matching, confirmation, give-up messaging, and reporting across FX, equities, equity derivatives, and exchange-traded derivatives. Harmony connects market participants for same-day trade processing with low-latency matching and confirmation workflows.
  version: 1.0.0
  contact:
    name: Traiana (CME Group)
    url: https://www.cmegroup.com/services/traiana.html
  license:
    name: Proprietary
servers:
- url: https://api.traiana.com/harmony/v1
  description: Traiana Harmony Production
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Give-Ups
paths:
  /give-ups:
    get:
      operationId: listGiveUps
      summary: List Give-Up Messages
      description: Retrieves give-up messages between prime brokers, executing brokers, and their clients processed through Harmony.
      tags:
      - Give-Ups
      parameters:
      - name: status
        in: query
        schema:
          type: string
          enum:
          - Pending
          - Accepted
          - Rejected
      - name: primeBrokerId
        in: query
        schema:
          type: string
      - name: executingBrokerId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response with give-up messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  giveUps:
                    type: array
                    items:
                      $ref: '#/components/schemas/GiveUp'
                  total:
                    type: integer
    post:
      operationId: submitGiveUp
      summary: Submit a Give-Up
      description: Submits a give-up message from an executing broker to a prime broker through the Harmony network.
      tags:
      - Give-Ups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GiveUpSubmission'
      responses:
        '201':
          description: Give-up submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GiveUp'
        '400':
          description: Invalid give-up submission
components:
  schemas:
    GiveUp:
      type: object
      properties:
        giveUpId:
          type: string
        tradeId:
          type: string
        executingBrokerId:
          type: string
        primeBrokerId:
          type: string
        clientId:
          type: string
        instrument:
          type: string
        side:
          type: string
          enum:
          - Buy
          - Sell
        quantity:
          type: number
        price:
          type: number
        currency:
          type: string
        status:
          type: string
          enum:
          - Pending
          - Accepted
          - Rejected
        createdAt:
          type: string
          format: date-time
    GiveUpSubmission:
      type: object
      required:
      - tradeId
      - executingBrokerId
      - primeBrokerId
      - clientId
      - instrument
      - side
      - quantity
      - price
      - currency
      properties:
        tradeId:
          type: string
        executingBrokerId:
          type: string
        primeBrokerId:
          type: string
        clientId:
          type: string
        instrument:
          type: string
        side:
          type: string
          enum:
          - Buy
          - Sell
        quantity:
          type: number
        price:
          type: number
        currency:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
