openapi: 3.2.0
info:
  title: Traiana Harmony Trade Processing Matching API
  description: The Traiana Harmony Trade Processing API provides cross-asset post-trade processing capabilities through the Harmony network. It enables automated trade allocation, matching, confirmation, give-up messaging, and reporting across FX, equities, equity derivatives, and exchange-traded derivatives. Harmony connects market participants for same-day trade processing with low-latency matching and confirmation workflows.
  version: 1.0.0
  contact:
    name: Traiana (CME Group)
    url: https://www.cmegroup.com/services/traiana.html
  license:
    name: Proprietary
servers:
- url: https://api.traiana.com/harmony/v1
  description: Traiana Harmony Production
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Matching
paths:
  /matching:
    get:
      operationId: listMatchResults
      summary: List Match Results
      description: Retrieves trade matching results processed by the Harmony cross-asset matching engine.
      tags:
      - Matching
      parameters:
      - name: status
        in: query
        schema:
          type: string
          enum:
          - Matched
          - Unmatched
          - PartialMatch
          - Disputed
      - name: fromDate
        in: query
        schema:
          type: string
          format: date
      - name: toDate
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Successful response with matching results
          content:
            application/json:
              schema:
                type: object
                properties:
                  matchResults:
                    type: array
                    items:
                      $ref: '#/components/schemas/MatchResult'
                  total:
                    type: integer
components:
  schemas:
    MatchResult:
      type: object
      properties:
        matchId:
          type: string
        tradeIdA:
          type: string
        tradeIdB:
          type: string
        status:
          type: string
          enum:
          - Matched
          - Unmatched
          - PartialMatch
          - Disputed
        matchedFields:
          type: array
          items:
            type: string
        unmatchedFields:
          type: array
          items:
            type: string
        matchedAt:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
